# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution and packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
.env/

# IDE-specific files
.vscode/
.idea/

# Logs
*.log

# Environment variables
.env

.python-version
